.formulario{
    border: 1px solid rgb(241, 241, 241);
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 60px;
}
.contador{
    border-top: 1px solid rgb(231, 231, 231);
    padding-top: 10px;
}
.titulos{
    color: pink;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 80px;
}
.btn-close{
  background:transparent !important;
}

.btn-close:hover{
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}